body {
    background-color: #f8efc0;
}

.main {
    background-color: white;
    margin: 30px;
}

.profile .section {
    margin-top: 15px;
}

.btn-edit {
    color: #999;
    font-size: 14px;
}

.topic .tags {
    margin-right: 5px;
    font-size: 12px;
}

.topic .comment-box {
    margin: 10px 0;
}

.topic .comment-sp {
    margin-top: 0;
}

.topic .comment {
    margin-top: 10px;
}

.topic .sign-in-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topic .sub-comment {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.topic .comment .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.topic .comment .icon:hover {
    color: #499ef3;
}

.topic .comment .time {
    margin-bottom: 5px;
}

.topic .related-topics {
    padding-left: 0;
    line-height: 20px;
    font-size: 15px;
    list-style: none;
}

.sign-in {
    background-color: white;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

.sign-in .text {
    width: 300px;
}

.sign-in .btn-confirm {
    float: left;
    margin-bottom: 15px;
}

.sign-in .github {
    margin-left: 130px;
    margin-top: 100px;
}

.publish .tag-display {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    display: none;
    margin: 10px;
    padding: 10px;
}

.publish .tag-remove {
    cursor: pointer;
    line-height: 2;
    float: right;
}

.publish .tag-tab {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    margin: 4px;
}

.publish .tag-tab:hover {
    background-color: #339dff;
}

.error {
    background-color: #f8efc0;
}

.avatar-min {
    width: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.btn-publish {
     float: right;
     margin-bottom: 15px;
 }

.hr-size {
    margin-top: 0;
    margin-bottom: 0;
}

.hr-size-2 {
    margin-top: 0;
    margin-bottom: 5px;
}


