body {
    background-image: url("/images/backgrounds/bg4.png");
}

.main {
    background-color: white;
    margin: 30px;
}

.nav-body {
    background-color: lightblue;
}

.nav-body .nav-search {
    width: 500px;
}

.profile .section {
    margin-top: 15px;
}

.btn-edit {
    color: #999;
    font-size: 14px;
}

.topic .comment-box {
    margin: 10px 0;
}

.topic .comment-sp {
    margin-top: 0;
}

.topic .comment {
    margin-top: 10px;
}

.topic .sign-in-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topic .sub-comment {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.topic .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.topic .icon:hover {
    color: #499ef3;
}

.topic .comment .time {
    margin-bottom: 5px;
}

.sign-in {
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    width: 50%;
}

.sign-in .text {
    width: 300px;
}

.sign-in .normal-block {
    border-right-style: dashed;
    border-right-width: thin;
}

.sign-in .github-block {

    padding-top: 80px;
}

.sign-in .btn-confirm {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.sign-in .github {
    margin-left: 120px;
}

.sign-up {
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    width: 50%;
}

.sign-up .text {
    width: 500px;
}

.publish .tag-display {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    display: none;
    margin: 10px;
    padding: 10px;
}

.publish .tag-remove {
    cursor: pointer;
    line-height: 2;
    float: right;
}

.publish .tag-tab {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    margin: 4px;
}

.publish .tag-tab:hover {
    background-color: #339dff;
}

.footer-body {
    color: black;
}

.error {
    background-color: #f8efc0;
}

.avatar-min {
    width: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.btn-publish {
     float: right;
     margin-bottom: 15px;
 }

.hr-size {
    margin-top: 0;
    margin-bottom: 0;
}

.hr-size-2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.footer {
    padding: 5px 40%;
    color: #6A6A6A;
}

.clicked-btn {
    color: #499ef3;
}

.topic-list {
    padding-left: 0;
    line-height: 20px;
    font-size: 15px;
    list-style: none;
    text-decoration-line: none;
}

.btn-sign-up {
    text-align: center;
    margin-left: 150px;
}

.tags {
    margin-right: 5px;
    font-size: 12px;
}