body {
    background-color: #f8efc0;
}

.main {
    background-color: white;
    margin: 30px;
}

.publish .btn-publish {
    float: right;
    margin-bottom: 15px;
}

.profile .section {
    margin-top: 15px;
}

.sign-in {
    background-color: white;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

.sign-in .text {
    width: 300px;
}

.sign-in .btn-confirm {
    float: left;
    margin-bottom: 15px;
}

.sign-in .github {
    margin-left: 130px;
    margin-top: 100px;
}

.avatar-min {
    width: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}