<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!--title-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Stranger</span>
                    </button>
                    <a class="navbar-brand" href="/">Stranger</a>
                </div>

                <!--body-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--left items-->
                    <form class="navbar-form navbar-left" action="/" method="get">
                        <div class="form-group">
                            <input type="text" class="nav-search form-control" placeholder="Search" name="search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <!--right items-->
                    <ul class="nav navbar-nav navbar-right">
                        <li th:unless="${session.user == null}">
                            <a href="/publish">
                                Post a Topic
                            </a>
                        </li>
                        <li th:if="${session.user == null}">
                            <a href="/sign_in">
                                Sign In
                            </a>
                        </li>
                        <li th:unless="${session.user == null}">
                            <a href="/profile/comments">Notification <span class="badge" th:text="${session.unreadCount}"></span></a>
                        </li>
                        <!--personal items-->
                        <li class="dropdown" th:unless="${session.user == null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${session.user.getName()}"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/topics">My Topics</a></li>
                                <li><a href="/profile/comments">My Comments</a></li>
                                <li><a href="/profile/sign_out">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>