<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/community.css" />
    <script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--topic list-->
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <!--topic section-->
            <div class="media" th:each="topic : ${pagination.elementDTOs}" th:if="${section} == 'topics'">
                <div class="media-left">
                    <a href="#">
                        <img class="avatar-min img-rounded" th:src="${topic.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/topic/' + ${topic.id}}" th:text="${topic.title}"></a>
                        <a th:href="@{'/publish/' + ${topic.id}}" class="btn-edit">
                            <span class="glyphicon glyphicon-edit"></span>  Edit
                        </a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${topic.commentCount}"></span> comments &#xb7; <span th:text="${topic.viewCount}"></span> views &#xb7; <span th:text="${#dates.format(topic.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <!--notification section-->
            <div class="media" th:each="notification : ${pagination.elementDTOs}" th:if="${section} == 'comments'">
                <div class="media-body">
                    <p class="media-heading">
                        <span th:text="${notification.notifierName + ' ' + notification.typeName + ' '}"></span>
                        <a th:href="@{'/notification/' + ${notification.id}}" th:text="${notification.outerTitle}"></a>
                        <span class="label label-danger" th:if="${notification.status == 0}">Unread</span>
                    </p>
                </div>
            </div>
            <!--page navigation-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.firstPage}">
                        <a th:href="@{'/profile/' + ${section}(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page} ? 'active' : ''">
                        <a th:href="@{'/profile/' + ${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.lastPage}">
                        <a th:href="@{'/profile/' + ${section}(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--right items-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/topics" th:class="${section == 'topics'}? 'active list-group-item' : 'list-group-item'">
                    My Topics
                </a>
                <a href="/profile/comments" th:class="${section == 'comments'}? 'active list-group-item' : 'list-group-item'">
                    My Comments
                    <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>