<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/community.css" />
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body onload="savePath()">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main topic">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--topic detail-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${topic.title}"></span></h4>
                <span class="text-desc">
                    Author: <span th:text="${topic.user.name}"></span> |
                    Created Date: <span th:text="${#dates.format(topic.gmtCreate, 'yyyy-MM-dd')}"></span> |
                    Views : <span th:text="${topic.viewCount}"></span> |
                    Comments : <span th:text="${topic.commentCount}"></span>
                </span>
                <hr class="comment-sp">
                <div id="topic-view">
                    <textarea style="display:none;" th:text="${topic.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("topic-view", {});
                    });
                </script>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <span class="icon" th:data-id="${topic.id}" onclick="likeTopic(this)" th:unless="${session.user == null}">
                        <span class="glyphicon glyphicon-thumbs-up" id="topic-like"></span>
                        <span th:text="${topic.likeCount}"></span>
                    </span>
                    <a th:href="@{'/publish/' + ${topic.id}}" class="btn-edit" th:if="${session.user != null && session.user.id == topic.author}">
                        <span class="glyphicon glyphicon-edit"></span>  Edit
                    </a>
                    <hr class="hr-size-2">
                </div>
            </div>
            <hr>
            <!--tags-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="label label-info tags" th:text="${tag}" th:each="tag : ${topic.tag.split(',')}"></span>
            </div>
            <!--comments-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${topic.commentCount}"></span> Comments</h4>
                <div class="media" th:each="comment : ${comments}">
                    <div class="media-left">
                        <a href="#">
                            <img class="avatar-min img-rounded" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${comment.user.name}"></span>
                        </h5>
                        <div th:text="${comment.content}"></div>
                        <div class="comment">
                            <span class="icon" th:data-id="${comment.id}" onclick="likeComment(this)">
                                <span class="glyphicon glyphicon-thumbs-up" th:id="${'comment-' + comment.id + '-like'}"></span>
                                <span th:text="${comment.likeCount}"></span>
                            </span>
                            <span class="icon" th:data-parentId="${comment.id}" onclick="subComments(this)">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                <span th:text="${comment.commentCount}"></span>
                            </span>
                            <span class="pull-right time" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                        </div>
                        <!--sub comments-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comment" th:id="${'subcomment-' + comment.id}">
                            <textarea class="form-control comment-box" rows="3" th:id="${'subcomment-input-' + comment.id}"></textarea>
                            <button type="submit" class="btn btn-success btn-publish" th:data-id="${comment.id}" onclick="sendSubComment(this)">Submit</button>
                        </div>
                    </div>
                    <hr class="hr-size">
                </div>
            </div>
            <!--comment editor-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user == null}">
                <h4>Write Your Comment</h4>
                <a href="/sign_in" class="btn btn-primary active sign-in-btn" role="button">Sign In</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:unless="${session.user == null}">
                <h4>Write Your Comment</h4>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="avatar-min img-rounded" th:src="${session.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${session.user.name}"></span>
                        </h5>
                    </div>
                </div>
                <textarea class="form-control comment-box" rows="6" id="comment_content"></textarea>
                <button type="submit" class="btn btn-success btn-publish" th:data-id="${topic.id}" onclick="sendComment(this)">Submit</button>
            </div>
        </div>
        <!--right items-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!--publisher information-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Publisher</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="avatar-min img-rounded" th:src="${topic.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${topic.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--related topics-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Related Topics</h4>
                <ul class="topic-list">
                    <li th:each="relate : ${relatedTopics}">
                        <a th:href="@{'/topic/'+ ${relate.topicId}}" th:text="${relate.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>