<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/community.css?v=0111" />
    <script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main topic">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span th:text="${topic.title}"></span></h4>
            <span class="text-desc">
                Author: <span th:text="${topic.user.name}"></span> |
                Created Date: <span th:text="${#dates.format(topic.gmtCreate, 'yyyy-MM-dd')}"></span> |
                Views : <span th:text="${topic.viewCount}"></span>
            </span>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${topic.description}"></div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a th:href="@{'/publish/' + ${topic.id}}" class="btn-edit" th:if="${session.user != null && session.user.id == topic.author}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
            <hr>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="avatar-min img-rounded" th:src="${topic.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span th:text="${topic.user.name}"></span>
                    </h5>
                </div>
            </div>
            <input type="hidden" id="topic_id" th:value="${topic.id}">
            <textarea class="form-control comment-box" rows="6" id="comment_content"></textarea>
            <button type="submit" class="btn btn-success btn-publish" onclick="postComment()">Submit</button>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Publisher</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="avatar-min img-rounded" th:src="${topic.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${topic.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Related Topics
            </div>
        </div>
    </div>
</div>
</body>
</html>